.footer-url {
  width: 170px;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  font-size: 13px;
  color: #838383;
  cursor: pointer;
}

.footer-url:hover {
  text-decoration: underline;
}

.border-right {
  border-right: 1px solid #e1e1e1;
}

.copyright {
  color: #838383;
  font-size: 13px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .border-none {
    border: none;
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .border-right {
    border: none;
  }
}
