.products-title {
  font-size: 24px;
  font-weight: 500;
  color: #282828;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.products-description {
  font-size: 14px;
  color: #282828;
  line-height: 18px;
}

.products-price {
  font-size: 18px;
  font-weight: bold;
  color: #282828;
}

.price-label {
  font-weight: 400;
  font-size: 12px;
}
