<div class="cursor-pointer">
  <img class="w-100" [src]="product.image" [alt]="product.productName" />
  <div>
    <h6 class="products-title mt-3" [title]="product.productName">
      {{ product.productName }} ({{ product.productType }})
    </h6>

    <p class="products-description mt-2 mb-0">
      {{ product.shortDescription }}
    </p>
    <h6 class="mt-2">
      <span class="price-label">starting from</span>
      <span class="products-price">
        ₹ {{ product?.priceStartingFrom | number : "1.0-0" }}</span
      >
    </h6>
  </div>
</div>
