.estimate-container {
  padding: 20px;

  .invoice-header {
    margin-top: 150px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 20px 0 20px 0px;
  }
  th,
  td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #eee;
  }
  input[type="number"] {
    width: 60px;
  }
  tfoot td {
    font-weight: bold;
  }
}
