@import "variables";

@import "mq";

.header-container {
  background-color: var(--navbar-bg);
  border-bottom: 2px solid var(--separator-color);

  .container {
    padding: 12px 0;

    .search-input {
      font-size: 14px;
      line-height: 1.5;
      background: var(--navbar-search-bg);
      border: 1px solid var(--navbar-search-input-border);
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
      background-repeat: no-repeat;
      background-position-y: 10px;
      background-position-x: 90%;
      background-size: 14px 14px;
      border-radius: 100px;
      padding: 0.5em 1em 0.5em 1.5em;
    }

    .search-input::placeholder {
      color: var(--navbar-search-input-placeholder-color);
    }

    .search-input:focus {
      outline: none;
      background-color: var(--navbar-search-bg-focus);
      border: 1px solid var(--navbar-search-input-border-focus);
      color: var(--navbar-search-input-color);
    }

    .nav-bar-list {
      display: flex;
      align-items: center;

      .header-seprator {
        height: 32px;
        border: 1px solid var(--separator-color);
      }

      .header-nav-link {
        color: var(--navbar-link);
        font-size: 14px;
      }

      .header-nav-link:focus {
        color: var(--app-last-name);
      }

      .bell-img-container {
        width: 50px;
        height: 50px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--navbar-cart-bg);

        .bell-img {
          width: 20px;
          height: 20px;
        }

        .bell-badge {
          background-color: var(--navbar-badge-bg-color);
          color: var(--navbar-badge-color);
          font-size: 8px;
          right: 6%;
          top: 6%;
          padding: 4px 5px 4px 6px;
        }
      }

      .bell-img-container.selected {
        border: 3px solid var(--navbar-cart-selected-border);

        .bell-badge {
          right: 10%;
          top: 18%;
        }
      }

      .user-img-container {
        .user-img {
          border: 3px solid var(--navbar-user-img-border);
          padding: 2px;
          width: 50px;
          height: 50px;
          border-radius: 14px;
        }
      }

      .user-img-container.selected {
        border-color: var(--navbar-user-img-selected-border);
      }
    }

    .mobile-hamberger {
      background-color: var(--navbar-bg);
    }

    .hamburger .line {
      width: 30px;
      height: 2px;
      background-color: var(--navbar-mobile-hamberger);
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
      cursor: pointer;
    }

    #hamburger-9 {
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    #hamburger-9.is-active {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #hamburger-9.is-active .line {
      width: 25px;
    }

    #hamburger-9.is-active .line:nth-child(2) {
      opacity: 0;
    }

    #hamburger-9.is-active .line:nth-child(1) {
      -webkit-transform: translateY(13px);
      -ms-transform: translateY(13px);
      -o-transform: translateY(13px);
      transform: translateY(13px);
    }

    #hamburger-9.is-active .line:nth-child(3) {
      -webkit-transform: translateY(-7px) rotate(90deg);
      -ms-transform: translateY(-7px) rotate(90deg);
      -o-transform: translateY(-7px) rotate(90deg);
      transform: translateY(-7px) rotate(90deg);
    }
  }
}
