.category-section {
  margin-top: 60px;
  font-family: "Manrope", sans-serif;
  font-style: normal;

  .category-title {
    font-weight: 400;
  }

  .category-desctiption {
    font-size: 14px;
    line-height: 18px;
  }
}
