.product-container {
  margin-top: 120px;
  font-family: "Manrope", sans-serif;

  .product-name-heading {
    font-size: 32px;
    font-weight: 400;
  }

  .product-starting-align {
    justify-content: end;
    align-items: center;
    display: flex;
  }

  .add-more {
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 8px;

    .add-more-label {
      font-size: 12px;
      font-weight: 600;
      color: #282828;
      margin-bottom: 0px;
    }
  }

  .faq-header {
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .faq-description {
    font-size: 14px;
  }

  .view-btn {
    border: 2px solid #5076b7;
    border-radius: 25px;
    padding: 4px 30px 4px 30px;
    color: #5076b7;
    font-family: sans-serif;
  }

  .selected-color-box {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: inline-block;
    background-color: red;
  }
}

.question-card {
  margin-bottom: 12px;

  .question {
    font-size: 16px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
  }

  .answer {
    font-size: 14px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
  }

  .accordion-button {
    background-color: #f0f0f0;
    border-radius: 8px 8px 0px 0px;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #282828;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
  }

  .accordion-button.collapsed:after {
    content: "";
    position: absolute;
    right: 1.1875rem;
    top: 0.8125rem;
    height: 1.0625rem;
    width: 0.125rem;
    border-style: none;
    background-color: var(--primary-text);
  }

  .accordion-body {
    background-color: #f0f0f0;
    border-radius: 0px 0px 8px 8px;
  }

  .collapsed {
    border-radius: 8px 8px 8px 8px;
  }

  .accordion-collapse {
    background-color: #f0f0f0;
    border-radius: 0px 0px 8px 8px;
  }
}
