.product-container {
  margin-top: 120px;
}

.selected-color-box {
  height: 25px;
  width: 25px;
  display: inline-block;
}

.center {
  display: flex;
  align-items: center;
}

.color-box {
  width: 80px;
  height: 50px;
  background-color: brown;
}

.select-color-button {
  width: 80px;
  height: 50px;
}
