<div class="container products-heading">
  <div class="container my-4">
    <div class="row">
      <p>
        <a [routerLink]="'/'">{{ "SHARED.PAGE_LINK.HOME" | translate }}</a>
        <span> > </span>
        <a [routerLink]="'/products'">{{
          "SHARED.PAGE_LINK.PRODUCTS" | translate
        }}</a>
      </p>
    </div>
    <div class="row">
      <h1 class="page-heading">Explore our Products</h1>
    </div>
    <div class="row mb-4 d-none d-lg-block">
      <div class="col-lg-2">
        <p class="filter-label">FILTER</p>
      </div>
      <div class="col-lg-10"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 d-none d-lg-block">
        <div class="form-check mb-4">
          <input class="form-check-input me-4" type="checkbox" id="filter1" />
          <label class="form-check-label" for="filter1">Exterior Paints</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input me-4" type="checkbox" id="filter1" />
          <label class="form-check-label" for="filter1">Interior Paints</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input me-4" type="checkbox" id="filter1" />
          <label class="form-check-label" for="filter1">Distemper</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input me-4" type="checkbox" id="filter1" />
          <label class="form-check-label" for="filter1">Wall Primer</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input me-4" type="checkbox" id="filter1" />
          <label class="form-check-label" for="filter1">Pals Putty</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input me-4" type="checkbox" id="filter1" />
          <label class="form-check-label" for="filter1">Lime Wash</label>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          <div
            *ngFor="let product of productList"
            class="col-md-4 col-lg-3 mb-4"
          >
            <app-product-card
              [product]="product"
              (click)="navigateToProduct(product.productId)"
            ></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
