<div class="container products-heading">
  <div class="container my-4">
    <div class="row">
      <p>
        <a [routerLink]="'/'">{{ "SHARED.PAGE_LINK.HOME" | translate }}</a>
        <span> > </span>
        <a [routerLink]="'/products'">{{
          "SHARED.PAGE_LINK.PRODUCTS" | translate
        }}</a>
      </p>
    </div>
    <div class="row">
      <h1 class="page-heading">
        {{ "PRODUCT_LIST_PAGE.HEADING" | translate }}
      </h1>
    </div>
    <div class="row mb-4 d-none d-lg-block">
      <div class="col-lg-2">
        <p class="filter-label">
          {{ "PRODUCT_LIST_PAGE.FILTER" | translate }}
        </p>
      </div>
      <div class="col-lg-10"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 d-none d-lg-block">
        <div class="form-check mb-4">
          <input
            class="form-check-input me-4 cursor-pointer"
            type="checkbox"
            id="exteriorPaint"
          />
          <label class="form-check-label cursor-pointer" for="exteriorPaint">
            {{ "PRODUCT_LIST_PAGE.FILTER_OPTIONS.EXTERIOR" | translate }}</label
          >
        </div>
        <div class="form-check mb-4">
          <input
            class="form-check-input me-4 cursor-pointer"
            type="checkbox"
            id="interiorPaint"
          />
          <label class="form-check-label cursor-pointer" for="interiorPaint">{{
            "PRODUCT_LIST_PAGE.FILTER_OPTIONS.INTERIOR" | translate
          }}</label>
        </div>
        <div class="form-check mb-4">
          <input
            class="form-check-input me-4 cursor-pointer"
            type="checkbox"
            id="distemper"
          />
          <label class="form-check-label cursor-pointer" for="distemper">{{
            "PRODUCT_LIST_PAGE.FILTER_OPTIONS.DISTEMPER" | translate
          }}</label>
        </div>
        <div class="form-check mb-4">
          <input
            class="form-check-input me-4 cursor-pointer"
            type="checkbox"
            id="wallPrimer"
          />
          <label class="form-check-label cursor-pointer" for="wallPrimer">{{
            "PRODUCT_LIST_PAGE.FILTER_OPTIONS.WALL_PRIMER" | translate
          }}</label>
        </div>
        <div class="form-check mb-4">
          <input
            class="form-check-input me-4 cursor-pointer"
            type="checkbox"
            id="palsPutty"
          />
          <label class="form-check-label cursor-pointer" for="palsPutty">{{
            "PRODUCT_LIST_PAGE.FILTER_OPTIONS.PALS_PUTTY" | translate
          }}</label>
        </div>
        <div class="form-check mb-4">
          <input
            class="form-check-input me-4 cursor-pointer"
            type="checkbox"
            id="limeWash"
          />
          <label class="form-check-label cursor-pointer" for="limeWash">{{
            "PRODUCT_LIST_PAGE.FILTER_OPTIONS.LIME_WASH" | translate
          }}</label>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          <div
            *ngFor="let product of productList"
            class="col-md-4 col-lg-3 mb-4"
          >
            <app-product-card
              [product]="product"
              (click)="navigateToProduct(product.productId)"
            ></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
