.banner-container {
  margin-top: 70px;
  font-family: "Manrope", sans-serif;

  .about-bannr-img {
    background-image: url("/about_banner.webp");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
  }

  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .about-bannr-img {
      background-image: url("/about_mobile_banner.png");
      height: 400px;
    }
  }

  .about-heading {
    font-size: 36px;
    font-weight: bold;
    color: #3b018e;
  }

  .about-subheading {
    font-size: 26px;
    font-weight: bold;
    color: #270d4d;
  }

  .about-description {
    font-size: 14px;
    color: #282828;
  }

  .pals-capabilities {
    font-size: 30px;
    font-weight: 600;
    color: #282828;
  }

  .capabilities-card {
    background-color: #e3f0ff;
    text-align: center;
    padding: 30px 25px 20px 25px;
  }

  .masonry {
    column-count: 3; /* number of columns */
    column-gap: 15px;
  }

  .masonry img {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    border-radius: 8px;
  }

  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .masonry {
      column-count: 2; /* number of columns */
      column-gap: 10px;
    }
  }
}
