.contact-container {
  background-color: #2596be;

  .title {
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
  }

  .contact-image {
    margin-top: -33px;
  }

  input,
  textarea {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px;
    color: white;
  }

  ::placeholder {
    color: white;
  }
}

.modal-index {
  z-index: 9999;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: #005192;
}

.pals-btn {
  box-shadow: none;
  border: none;
  padding: 8px 24px;
  border-radius: 25px;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(to right, #3b008e, #158bcd);
}
