<div class="container">
  <div class="row contact-container p-3 p-md-4 mx-0">
    <div class="col-12 col-md-6 contact-info text-center text-md-start">
      <div class="mb-3">
        <span class="contact-heading">Contact</span>
      </div>
      <h1>Get in touch</h1>
      <p class="mb-- mb-md-5">
        For any inquiries or to explore your vision further, we invite you to
        contact our professional team using the details provided below.
      </p>
      <div class="d-none d-md-block">
        <p class="mb-3">Follow us on</p>
        <img class="instagram" src="instagram.png" alt="instagram" />
        <img src="facebook.png" alt="facebook" />
        <img src="twitter.png" alt="twitter" />
      </div>
    </div>
    <div class="col-12 col-md-6 contact-form">
      <div>
        <form [formGroup]="contactForm">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="nameInput" class="form-label">Name</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="nameInput"
                  placeholder="Name"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="emailInput"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="phoneInput" class="form-label">Phone</label>
                <input
                  formControlName="phone"
                  type="text"
                  class="form-control"
                  id="phoneInput"
                  placeholder="+XX XXXXXXXXXX"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="messageInput" class="form-label">Message</label>
                <textarea
                  formControlName="message"
                  type="text"
                  class="form-control"
                  id="messageInput"
                  rows="6"
                  placeholder="Write here..."
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn submit-btn w-100">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="d-block d-md-none text-center mt-4 mb-3 text-light">
      <p class="mb-3">Follow us on</p>
      <img class="instagram" src="instagram.png" alt="instagram" />
      <img src="facebook.png" alt="facebook" />
      <img src="twitter.png" alt="twitter" />
    </div>
  </div>
</div>
