<div class="container">
  <div class="row contact-container p-3 p-md-4 mx-0">
    <div class="col-12 col-md-6 contact-info text-center text-md-start">
      <div class="mb-3">
        <span class="contact-heading">{{
          "HOME.CONTACT_US.HEADING" | translate
        }}</span>
      </div>
      <h1>{{ "HOME.CONTACT_US.SUB_HEADING" | translate }}</h1>
      <p class="mb-- mb-md-5">
        {{ "HOME.CONTACT_US.CONTACT_MESSAGE" | translate }}
      </p>
      <div class="d-none d-md-block">
        <p class="mb-3">
          {{ "HOME.CONTACT_US.FOLLOW_LBL" | translate }}
        </p>
        <a
          href="https://www.instagram.com/palspaint?igsh=aDM1Z20xaWR6YXIw"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="instagram"
            src="logo/instagram.png"
            alt="Pals Paint Instagram"
          />
        </a>
        <img src="logo/facebook.png" alt="Pals Paintfacebook" />
        <a href="https://wa.me/919644644611" target="_blank">
          <img src="logo/whatsapp.png" alt="Pals Paint whatsapp"
        /></a>
      </div>
    </div>
    <div class="col-12 col-md-6 contact-form">
      <div>
        <form [formGroup]="contactForm">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="nameInput" class="form-label">
                  {{ "HOME.CONTACT_US.NAME_LBL" | translate }}</label
                >
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="nameInput"
                  placeholder="{{
                    'HOME.CONTACT_US.NAME_PLACEHOLDER' | translate
                  }}"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="emailInput" class="form-label">
                  {{ "HOME.CONTACT_US.EMAIL_LBL" | translate }}</label
                >
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="emailInput"
                  placeholder="{{
                    'HOME.CONTACT_US.EMAIL_PLACEHOLDER' | translate
                  }}"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="phoneInput" class="form-label">
                  {{ "HOME.CONTACT_US.PHONE_LBL" | translate }}</label
                >
                <input
                  formControlName="phone"
                  type="text"
                  class="form-control"
                  id="phoneInput"
                  placeholder="{{
                    'HOME.CONTACT_US.PHONE_PLACEHOLDER' | translate
                  }}"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label for="messageInput" class="form-label">
                  {{ "HOME.CONTACT_US.MSG_LBL" | translate }}</label
                >
                <textarea
                  formControlName="message"
                  type="text"
                  class="form-control"
                  id="messageInput"
                  rows="6"
                  placeholder="{{
                    'HOME.CONTACT_US.MSG_PLACEHOLDER' | translate
                  }}"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn submit-btn w-100"
                (click)="contact()"
              >
                {{ "HOME.CONTACT_US.SUBMIT_BTN_LBL" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="d-block d-md-none text-center mt-4 mb-3 text-light">
      <p class="mb-3">Follow us on</p>
      <a
        href="https://www.instagram.com/palspaint?igsh=aDM1Z20xaWR6YXIw"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="instagram" src="instagram.png" alt="Instagram" />
      </a>
      <img src="facebook.png" alt="facebook" />
      <a href="https://wa.me/919644644611" target="_blank">
        <img src="whatsapp.png" alt="whatsapp"
      /></a>
    </div>
  </div>
</div>
