.contact-container {
  background-image: linear-gradient(to right, #3b008e, #0091e2);
  border-radius: 32px;
  margin-top: 3rem;
  padding: 24px;
  font-family: "Manrope", sans-serif;

  .contact-info {
    color: white;
    padding: 48px;
    margin-top: auto;
    margin-bottom: auto;

    .contact-heading {
      background-color: #0091e2;
      color: white;
      font-size: 16px;
      font-family: "Manrope", sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 4px 20px;
      border-radius: 25px;
    }

    h1 {
      font-size: 40px;
      font-weight: 400;
    }

    p {
      font-size: 14px;
      margin-bottom: 8px;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 24px;
    }

    .instagram {
      width: 38px !important;
      height: 35px !important;
    }
  }

  .contact-form {
    background-color: white;
    border-radius: 16px;
    padding: 24px;

    .form-label {
      font-size: 14px;
    }

    .form-control {
      font-size: 14px;
      background-color: #fafafa;
      border-radius: 8px;
      border: 1px solid #e7e7e7;
    }

    .form-control:focus {
      box-shadow: none;
    }

    .submit-btn {
      color: white;
      background-image: linear-gradient(to right, #3b008e, #0091e2);
      border-radius: 53px;
      border: none;
      box-shadow: none;
    }
  }
}
