<div class="container products-section">
  <app-heading-chips
    [label]="'HOME.PRODUCTS.HEADING' | translate"
  ></app-heading-chips>
  <div class="row mt-3 mb-2">
    <div class="col-6">
      <div>
        <h2>{{ "HOME.PRODUCTS.SUB_HEADING" | translate }}</h2>
      </div>
    </div>
    <div class="col-6 text-end">
      <app-nav-button
        [label]="'HOME.PRODUCTS.VIEW_BTN_LBL' | translate"
        (click)="navigateToProductsPage()"
      ></app-nav-button>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let product of productList?.slice(0, 3)"
      class="col-md-4 col-lg-4 mb-4"
    >
      <app-product-card
        [product]="product"
        (click)="navigateToProduct(product.productId)"
      ></app-product-card>
    </div>
  </div>
</div>
