<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="page-title">Coupon List</h2>
    <div class="btn btn-primary" [routerLink]="'../add-coupon'">
      Add Coupons
    </div>
  </div>
  <!-- Bootstrap Tabs -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'active'"
        (click)="selectTab('active')"
      >
        Active
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'redeemed'"
        (click)="selectTab('redeemed')"
      >
        Redeemed
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'expired'"
        (click)="selectTab('expired')"
      >
        Expired
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'all'"
        (click)="selectTab('')"
      >
        All
      </a>
    </li>
  </ul>

  <!-- Coupon Grid -->
  <div class="row">
    <div *ngFor="let coupon of filteredCoupons()" class="col-12 col-md-3 mb-3">
      <div class="card p-2">
        <img [src]="coupon.qr" alt="QR Code" class="img-fluid mb-2" />
        <div class="d-flex justify-content-between">
          <p class="me-4">{{ coupon.code }}</p>
          <p>{{ coupon.status?.toUpperCase() }}</p>
        </div>
        <p class="fw-bold">₹ {{ coupon.amount }}</p>
      </div>
    </div>
  </div>
</div>
