<div class="footer-container container-fluid text-white pt-5 pb-3">
  <img class="footer-logo" src="header_logo.png" />
  <div class="row">
    <div class="col-12 col-md-5 mb-4">
      <div class="row text-center text-md-start">
        <div class="col-2 col-md-3"></div>
        <div class="col-8 col-md-7">
          <p class="mb-0 description">
            We are here to help you. For any queries and complaints, react out
            at:
          </p>
          <p class="mb-0 contact-link">
            <a _ngcontent-ng-c2546054193="" href="tel:+919644644611"
              >+91 9644644611</a
            >
          </p>
          <p class="mb-0 contact-link">
            <a _ngcontent-ng-c2546054193="" href="mailto:palspaint923@gmail.com"
              >palspaint923&#64;gmail.com</a
            >
          </p>
        </div>
        <div class="col-2 d-md-none"></div>
      </div>
    </div>

    <div class="col-12 col-md-7 text-center text-md-start">
      <div class="row">
        <div class="col-6 col-md-4 mb-4">
          <p class="header">About</p>
          <p class="footer-links">About us</p>
          <p class="footer-links">Our Story / Vision & Mission</p>
          <p class="footer-links">Why Choose Us / Quality Promise</p>
        </div>

        <div class="col-6 col-md-4 mb-4">
          <p class="header">Contact</p>
          <p class="footer-links">Contact Us</p>
          <p class="footer-links">Locate a Dealer / Store Locator</p>
          <p class="footer-links">Request a Quote / Sample</p>
          <p class="footer-links">Customer Support</p>
        </div>

        <div class="col-12 col-md-4 mb-4">
          <p class="header">Legal</p>
          <p class="footer-links">Privacy Policy</p>
          <p class="footer-links">Terms & Conditions</p>
          <p class="footer-links">Returns / Refund Policy</p>
          <p class="footer-links">Disclaimer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-12 col-md-7 text-center text-md-start">
          <p class="copyright mt-4 ms-0 md-md-3">
            &copy; 2023 Pals Paints. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
