.footer-container {
  margin-top: 5rem;
  background: linear-gradient(to right, #1d3ea5, #06a0e5);
  border-top-left-radius: 80px;
  font-family: "Manrope", sans-serif;

  .logo h2 {
    font-size: 32px;
  }

  .description {
    font-size: 14px;
    line-height: 1.6;
  }

  .footer-container p {
    font-size: 14px;
    margin: 0;
  }

  .footer-container p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .copyright {
    font-size: 12px;
  }
}
