<div class="footer-container container-fluid text-white pt-5 pb-3">
  <img class="footer-logo" src="header_logo.png" />
  <div class="row">
    <div class="col-12 col-md-5 mb-4">
      <div class="row text-center text-md-start">
        <div class="col-2 col-md-3"></div>
        <div class="col-8 col-md-7">
          <p class="description">
            Pals Paints offers premium-quality paints, putty, and primers
            crafted with eco-friendly formulas, excellent coverage, and
            long-lasting durability.
          </p>
        </div>
        <div class="col-2 d-md-none"></div>
      </div>
    </div>

    <div class="col-12 col-md-7 text-center text-md-start">
      <div class="row">
        <div class="col-6 col-md-4 mb-4">
          <p class="header">Quick Links</p>
        </div>

        <div class="col-6 col-md-4 mb-4">
          <p class="header">Quick Links</p>
          <p class="footer-links">About us</p>
          <p class="footer-links">About us</p>
        </div>

        <div class="col-12 col-md-4 mb-4">
          <p class="header">Quick Links</p>
          <p class="footer-links">About us</p>
          <p class="footer-links">About us</p>
          <p class="footer-links">About us</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-12 col-md-7 text-center text-md-start">
          <p class="copyright mt-4 ms-0 md-md-3">
            &copy; 2023 Pals Paints. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
