<div class="container my-5">
  <div class="px-5 text-center">
    <span class="footer-url border-right">Contact us</span>
    <span class="footer-url border-right">For suppliers</span>
    <span class="footer-url border-right border-none">Privacy statement</span>
    <span class="footer-url border-right">Cookie policy</span>
    <span class="footer-url border-right">Position statements</span>
    <span class="footer-url">Code of conduct</span>
    <span class="footer-url border-right">Speakup!</span>
    <span class="footer-url">Cookies settings</span>
  </div>
  <div class="text-center mt-4 copyright">© Pal’s Paints 2023</div>
</div>
