<div class="dialog-section">
  <div class="modal-backdrop" (click)="closeModal()"></div>
  <div class="modal-container p-4">
    <div class="modal-header">
      <p class="heading">Select Color</p>
      <p class="cursor-pointer" (click)="closeModal()">✖</p>
    </div>
    <div class="search-color">
      <input class="search-input" type="search" placeholder="Search..." />
    </div>
    <div class="mb-3">
      <button *ngFor="let chip of chipsList" class="color-chip me-3">
        {{ chip.name }}
      </button>
    </div>
    <div class="modal-content">
      <div class="row">
        <div
          class="col-4 col-md-3"
          *ngFor="let group of colorShadesList | groupBy : 8"
        >
          <div class="mb-3" *ngFor="let item of group">
            <div
              [style.backgroundColor]="item.shadeHexCode"
              class="color-card cursor-pointer"
            ></div>
            <div class="color-name">
              <span>{{ item.entityCode }}</span
              ><span>{{ item.entityName }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
