<div class="customers-container mb-5 py-5">
  <div class="row mx-0">
    <div class="col-lg-1 d-none d-lg-block position-relative">
      <img class="comma img-fluid" src="inverted_comma.png" alt="comma" />
    </div>

    <div class="col-12 col-lg-10">
      <div class="text-center text-md-start mb-4">
        <p class="testimonials-title">
          {{ "HOME.TESTIMONIALS.HEADING" | translate }}
        </p>
      </div>
      <div class="row d-none d-md-block">
        <div
          id="testimonialCarouselRide"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators carousel-indicators-position">
            <button
              type="button"
              data-bs-target="#testimonialCarouselRide"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#testimonialCarouselRide"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#testimonialCarouselRide"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Swapnil Jain'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Excellent work, Quality equivalent to major brands with reasonable price'
                    "
                  ></app-testimonial-card>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Aashutosh Agrawal'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Amazing exterior paint, we have recently used them in our project exteriors. Thickness & smoothness of colour was very optimum & very good.'
                    "
                  ></app-testimonial-card>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Vaibhav Paliwal'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Great experience with pals paint now my room looking osm Thank you.'
                    "
                  ></app-testimonial-card>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Vikas Deshmukh'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Great finish at an affordable price. Highly recommended.'
                    "
                  ></app-testimonial-card>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Azhar Khan'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Amazing paint in categories of prices, smoothness,and long-lasting 👌👌👌👌'
                    "
                  ></app-testimonial-card>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Anil Airwal'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'I applied primer all over the house and it looks great.'
                    "
                  ></app-testimonial-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-block d-md-none">
        <div
          id="testimonialMobileCarouselRide"
          class="carousel slide carousel-fade"
          data-bs-ride="true"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Jayesh Bajaj'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Pal\'s Paints exceeded my expectations with their exceptional exterior quality! Their paint not only transformed my home but also stood strong against the elements.'
                    "
                  ></app-testimonial-card>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Rohit Birla'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Pal\'s Paints sets the gold standard for exterior quality! Their paint not only enhances the aesthetics of my property but also provides unmatched durability. Highly recommend their top-notch products.'
                    "
                  ></app-testimonial-card>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                  <app-testimonial-card
                    [userName]="'Mr. Roshan Raj'"
                    [userImg]="'user.jpg'"
                    [userMessage]="
                      'Pal\'s Paints deliver unmatched exterior quality! Their vibrant colors and long-lasting finish transformed my home into a masterpiece.'
                    "
                  ></app-testimonial-card>
                </div>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#testimonialMobileCarouselRide"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#testimonialMobileCarouselRide"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-1 d-none d-lg-block position-relative">
      <img class="inverted img-fluid" src="inverted_comma.png" alt="comma" />
    </div>
  </div>
</div>
