<form [formGroup]="productForm" (ngSubmit)="submit()" class="container mt-4">
  <div class="row my-3">
    <div class="col-12 text-end">
      <div class="btn btn-primary" [routerLink]="'../view-product'">
        View Product
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Product Name</label>
      <input
        formControlName="productName"
        type="text"
        class="form-control"
        placeholder="Enter product name"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Product Type</label>
      <select formControlName="productType" class="form-select">
        <option value="" disabled selected>Select product type</option>
        <option *ngFor="let type of productTypes" [value]="type">
          {{ type }}
        </option>
      </select>

      <div
        *ngIf="
          productForm.get('productType')?.touched &&
          productForm.get('productType')?.invalid
        "
        class="text-danger mt-1"
      >
        Product type is required
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label class="form-label">Product Short Description</label>
      <textarea
        formControlName="shortDescription"
        type="text"
        class="form-control"
        placeholder="Enter product short description"
      ></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label class="form-label">Product long Description</label>
      <textarea
        formControlName="longDescription"
        type="text"
        class="form-control"
        placeholder="Enter product long description"
      ></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label class="form-label">Thumbnail image</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter thumbnail URL"
        formControlName="thumbnail"
      />

      <div *ngIf="productForm.get('thumbnail')?.value">
        <img
          class="thumbnail-image-preview"
          [src]="productForm.get('thumbnail')?.value"
          alt="Thumbnail Image"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label class="form-label">Carousel image</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter image URL"
        formControlName="image"
      />

      <div *ngIf="productForm.get('image')?.value">
        <img
          class="small-image-preview"
          [src]="productForm.get('image')?.value"
          alt="Carousel Image"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label class="form-label">Product large image</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter large image URL"
        formControlName="largeImage"
      />

      <div *ngIf="productForm.get('largeImage')?.value">
        <img
          class="large-image-preview"
          [src]="productForm.get('largeImage')?.value"
          alt="Large Image"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3 text-end">
      <button type="button" class="btn btn-primary mt-2" (click)="addPack()">
        + Add Pack
      </button>
    </div>
  </div>

  <h4 class="mt-4">Pack Sizes</h4>
  <div formArrayName="packSize">
    <div
      *ngFor="let pack of packSize.controls; let i = index"
      [formGroupName]="i"
      class="row g-3 mb-2"
    >
      <div class="col-md-3">
        <input formControlName="mrp" class="form-control" placeholder="MRP" />
      </div>
      <div class="col-md-3">
        <input formControlName="size" class="form-control" placeholder="Size" />
      </div>
      <div class="col-md-3">
        <input
          formControlName="discount"
          class="form-control"
          placeholder="Discount %"
        />
      </div>
      <div class="col-md-3 d-flex">
        <button
          type="button"
          class="btn btn-danger w-100"
          (click)="removePack(i)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button
      type="submit"
      [disabled]="this.productForm.invalid"
      class="btn btn-success w-100"
    >
      Submit
    </button>
  </div>
</form>
