.nav-button {
  font-family: "Manrope", sans-serif;
  display: inline-flex;
  align-items: center;
  padding: 1px 1px 1px 20px;
  background: #f7f7f7;
  border-radius: 50px;
  cursor: pointer;
  gap: 15px;
  border: 1px solid #0091e2;

  .nav-text {
    font-size: 16px;
    font-weight: 500;
    color: #1257d8;
  }

  .icon-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(135deg, #007aff, #00c6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: white;
      font-size: 24px !important;
      font-weight: 600;
    }
  }
}
