<div class="container">
  <ul>
    <li>
      <a routerLink="/admin/add-dealer">Add Dealer</a>
    </li>
    <li>
      <a routerLink="/admin/view-dealer">View Dealer</a>
    </li>
    <li>
      <a routerLink="/admin/add-coupon">Add Coupon</a>
    </li>
    <li>
      <a routerLink="/admin/view-coupon">View Coupon</a>
    </li>
    <li>
      <a routerLink="/admin/add-product">Add Product</a>
    </li>
    <li>
      <a routerLink="/admin/view-product">View Product</a>
    </li>
    <li>
      <a routerLink="/admin/dealer-ledger">Dealer Ledger</a>
    </li>
    <li>
      <a routerLink="/admin/dealer-credit-request">Dealer Credit Requests</a>
    </li>
  </ul>
</div>
