<div class="container">
  <ul>
    <li>
      <a routerLink="../add-dealer">Add Dealer</a>
    </li>
    <li>
      <a routerLink="../view-dealer">View Dealer</a>
    </li>
    <li>
      <a routerLink="../create-coupon">Create Coupon</a>
    </li>
    <li>
      <a routerLink="../view-coupon">View Coupon</a>
    </li>
    <li>
      <a routerLink="../dealer-ledger">Dealer Ledger</a>
    </li>
    <li>
      <a routerLink="../dealer-credit-request">Dealer Credit Requests</a>
    </li>
  </ul>
</div>
