<div class="banner-container d-flex align-items-center position-relative">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-md-8 col-lg-6 text-light text-center text-md-start ps-md-5 ms-md-5"
      >
        <p class="title">{{ "HOME.BANNER.HEADING" | translate }}</p>
        <h5 class="sub-title mt-2 mb-4">
          {{ "HOME.BANNER.SUB_HEADING" | translate }}
        </h5>
        <app-nav-button
          [label]="'HOME.BANNER.SHOP_BTN_LBL' | translate"
          (click)="navigateToProductsPage()"
        ></app-nav-button>
      </div>
    </div>
  </div>

  <!-- Bucket image fixed to bottom -->
  <img
    src="banner_bucket.webp"
    class="bucket-img position-absolute"
    alt="Bucket"
  />
</div>
