<div class="banner-container d-flex align-items-center position-relative">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-md-8 col-lg-6 text-light text-center text-md-start ps-md-5 ms-md-5"
      >
        <p class="title">Transform Your Spaces with Colors that Speak</p>
        <h5 class="sub-title mt-2 mb-4">
          Premium, Eco-friendly paints for Beauty and life.
        </h5>
        <app-nav-button
          [label]="'Shop Now'"
          (click)="navigateToProductsPage()"
        ></app-nav-button>
      </div>
    </div>
  </div>

  <!-- Bucket image fixed to bottom -->
  <img
    src="./../../../assets/banner_bucket.png"
    class="bucket-img position-absolute"
    alt="Bucket"
  />
</div>
