.banner-container {
  background-image: url("/banner.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 730px;
  position: relative;
  overflow: hidden;

  /* Ensures image stays at the bottom and scales properly */
  .bucket-img {
    bottom: 0%;
    left: 5%;
    max-height: 200px;
    width: auto;
  }

  /* Required to allow absolute positioning */
  .banner-container .bucket-img {
    position: absolute;
  }

  .title {
    font-size: 56px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 64px;
  }

  .sub-title {
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
  }

  .explore-btn {
    border: 2px solid white;
    border-radius: 25px;
    padding: 4px 30px 4px 30px;
    color: white;
    font-family: sans-serif;
  }

  @media only screen and (min-width: 992px) {
    .banner-container {
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .title {
    line-height: 56px !important;
    font-size: 48px !important;
  }
  .banner-container {
    justify-content: center;
  }
  .bucket-img {
    left: auto !important;
    max-height: 135px !important;
  }
  .title {
    line-height: 48px !important;
  }
}
