<div class="container my-4 my-md-5 py-0 py-md-0 text-center text-md-start">
  <div class="row d-block d-md-none mb-4">
    <div class="col-12">
      <p class="title">About us</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <img
        class="img-fluid"
        src="./../../../assets/about/about.png"
        alt="about-img"
      />
    </div>
    <div class="col-12 col-md-8 mt-5 mt-md-0">
      <p class="title d-none d-md-block">About us</p>
      <p class="sub-title">
        Welcome to Pal’s Paints, where passion meets precision in the world of
        paints. Founded with a vision to transform spaces and inspire
        creativity, our journey began with a profound love for colors and a
        commitment to delivering unparalleled quality. At Pal’s Paints, we
        believe that paint isn't just a coating; it's an expression of
        personality and style. With years of expertise and a dedicated team of
        artisans, we have mastered the art and science of crafting paints that
        not only adorn walls but also breathe life into every room they touch.
        Our commitment to innovation drives us to constantly explore new color
        palettes, eco-friendly formulations, and application techniques. We take
        pride in being more than just a paint company; we are your partners in
        creating vibrant, visually stunning environments. Every stroke of our
        paintbrush reflects our dedication to excellence, and every hue we offer
        tells a story of creativity and passion. Join us on this colorful
        journey and let your spaces come alive with the magic of Pal’s Paints.
      </p>
    </div>
  </div>
</div>
