.chip {
  background-color: #0091e2;
  color: #0069a4;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 4px 20px;
  border-radius: 25px;
}
